<table border="0" cellpadding="0" cellspacing="0" height="100%" style="width: 55%;" width="80%">
    <tbody>
    <tr>
        <td align="left" valign="top">
            <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    id="template_container"
                    style="
                        background-color: #ffffff;
                        overflow: hidden;
                        border-style: solid;
                        border-color: #dedede;
                        border-radius: 0px;
                        border-top: 0px solid #f7f7f7;
                        border-right: 0px solid #f7f7f7;
                        border-bottom: 0px solid #f7f7f7;
                        border-left: 0px solid #f7f7f7;
                        box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
                    "
            >
                <tbody>
                <tr>
                    <!-- Body -->
                </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" id="template_body" width="350">
                <tbody>
                <tr>
                    <td id="body_content" style="background-color: #ffffff;" valign="top">
                        <table border="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding: 0px px; vertical-align: middle; text-align: left;"
                                    valign="top">
                                    <div
                                            id="body_content_inner"
                                            style="color: #3b3b3b; text-align: left; font-size: 12px; line-height: 15px; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-weight: 400;"
                                    >
                                        <p style="margin: 0 0 16px;">You have received an order from
                                            test test. The order is as follows:</p>
                                        <h2
                                                style="
                                                            display: block;
                                                            margin: 0 0 18px;
                                                            text-align: left;
                                                            font-size: 16px;
                                                            line-height: 20px;
                                                            padding-top: 0px;
                                                            padding-bottom: 0px;
                                                            margin-top: 0px;
                                                            margin-bottom: 18px;
                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                            font-weight: 700;
                                                            text-transform: none;
                                                            color: #96588a;
                                                        "
                                        >
                                            <a
                                                    class="link customize-unpreviewable"
                                                    href="https://pizzatime1.co.uk/wp-admin/post.php?post=1746&action=edit"
                                                    style="text-decoration: underline; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-weight: 700; color: #96588a;"
                                            >
                                                &nbsp;&nbsp;&nbsp;[Order #1746]&nbsp;&nbsp;&nbsp;
                                            </a>
                                            (July 1, 2020)
                                        </h2>
                                        <div style="margin-bottom: 40px;">
                                            <table
                                                    border="1"
                                                    cellpadding="0"
                                                    cellspacing="0"
                                                    class="td"
                                                    style="
                                                                color: #3b3b3b;
                                                                border: 0;
                                                                border-color: #919191;
                                                                border-top-width: 1px;
                                                                border-top-style: solid;
                                                                width: 100%;
                                                                font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                padding-left: 0;
                                                                padding-right: 0;
                                                                text-align: right;
                                                            "
                                            >
                                                <colgroup>
                                                    <col style="width: 1%;"/>
                                                    <col style="width: 98%;"/>
                                                    <col style="width: 1%;"/>
                                                </colgroup>
                                                <thead>
                                                <tr>
                                                    <th
                                                            class="td"
                                                            scope="col"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            font-weight: bold;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            padding-left: 0;
                                                                            text-align: left;
                                                                        "
                                                    >
                                                        Qty
                                                    </th>
                                                    <th
                                                            class="td"
                                                            scope="col"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            font-weight: bold;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            text-align: center;
                                                                        "
                                                    >
                                                        Item
                                                    </th>
                                                    <th
                                                            class="td"
                                                            scope="col"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            font-weight: bold;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            padding-right: 0;
                                                                            text-align: right;
                                                                        "
                                                    >
                                                        GBP
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="order_item">
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            vertical-align: middle;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            padding-left: 0;
                                                                            text-align: left;
                                                                        "
                                                    >
                                                        1
                                                    </td>
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            vertical-align: middle;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            word-wrap: break-word;
                                                                            text-align: center;
                                                                        "
                                                    >
                                                        Beef Burger
                                                        <ul class="wc-item-meta"
                                                            style="font-size: small; margin: 0; padding: 0; list-style: none;">
                                                            <li style="margin: 0; padding: 0;">
                                                                <strong class="wc-item-meta-label"
                                                                        style="float: left; margin-right: 0.25em; clear: both;">Size:</strong>
                                                                <p style="margin: 0; display: inline;">
                                                                    1/4lb &pound;2.30</p>
                                                            </li>
                                                            <li style="margin: 0; padding: 0;">
                                                                <strong class="wc-item-meta-label"
                                                                        style="float: left; margin-right: 0.25em; clear: both;">Salad
                                                                    Option:</strong>
                                                                <p style="margin: 0; display: inline;">
                                                                    Fresh Salad</p>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            vertical-align: middle;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            padding-right: 0;
                                                                            text-align: right;
                                                                        "
                                                    >
                                                        <span class="woocommerce-Price-amount amount"><span
                                                                class="woocommerce-Price-currencySymbol">&pound;</span>2.30</span>
                                                    </td>
                                                </tr>
                                                <tr class="order_item">
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            vertical-align: middle;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            padding-left: 0;
                                                                            text-align: left;
                                                                        "
                                                    >
                                                        1
                                                    </td>
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            vertical-align: middle;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            word-wrap: break-word;
                                                                            text-align: center;
                                                                        "
                                                    >
                                                        Cheesecake
                                                    </td>
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            vertical-align: middle;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            padding-right: 0;
                                                                            text-align: right;
                                                                        "
                                                    >
                                                        <span class="woocommerce-Price-amount amount"><span
                                                                class="woocommerce-Price-currencySymbol">&pound;</span>2.00</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th
                                                            class="td"
                                                            colspan="2"
                                                            scope="row"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            font-weight: bold;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            border-top-width: 4px;
                                                                            padding-left: 0;
                                                                            text-align: left;
                                                                        "
                                                    >
                                                        Subtotal:
                                                    </th>
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            border-top-width: 4px;
                                                                            padding-right: 0;
                                                                            text-align: right;
                                                                        "
                                                    >
                                                        <span class="woocommerce-Price-amount amount"><span
                                                                class="woocommerce-Price-currencySymbol">&pound;</span>4.30</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th
                                                            class="td"
                                                            colspan="2"
                                                            scope="row"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            font-weight: bold;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            padding-left: 0;
                                                                            text-align: left;
                                                                        "
                                                    >
                                                        Shipping:
                                                    </th>
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            padding-right: 0;
                                                                            text-align: right;
                                                                        "
                                                    >
                                                        Local pickup
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th
                                                            class="td"
                                                            colspan="2"
                                                            scope="row"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            font-weight: bold;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            padding-left: 0;
                                                                            text-align: left;
                                                                        "
                                                    >
                                                        Payment method:
                                                    </th>
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            padding-right: 0;
                                                                            text-align: right;
                                                                        "
                                                    >
                                                        Cash on delivery
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th
                                                            class="td"
                                                            colspan="2"
                                                            scope="row"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            font-weight: bold;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            padding-left: 0;
                                                                            text-align: left;
                                                                        "
                                                    >
                                                        Total:
                                                    </th>
                                                    <td
                                                            class="td"
                                                            style="
                                                                            color: #3b3b3b;
                                                                            border: 0;
                                                                            padding: 12px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            border-color: #919191;
                                                                            padding-top: 10px;
                                                                            padding-bottom: 10px;
                                                                            border-bottom-width: 1px;
                                                                            border-bottom-style: solid;
                                                                            padding-right: 0;
                                                                            text-align: right;
                                                                        "
                                                    >
                                                        <span class="woocommerce-Price-amount amount"><span
                                                                class="woocommerce-Price-currencySymbol">&pound;</span>4.30</span>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <table border="0" cellpadding="0" cellspacing="0"
                                               id="addresses"
                                               style="border-collapse: collapse; width: 100%; vertical-align: top; margin-bottom: 40px; padding: 0;">
                                            <tbody>
                                            <tr>
                                                <td style="text-align: left; font-size: 15px; border: 0; padding: 0;"
                                                    valign="top" width="50%">
                                                    <h2
                                                            style="
                                                                            display: block;
                                                                            margin: 0 0 18px;
                                                                            text-align: left;
                                                                            font-size: 16px;
                                                                            line-height: 20px;
                                                                            padding-top: 0px;
                                                                            padding-bottom: 0px;
                                                                            margin-top: 0px;
                                                                            margin-bottom: 18px;
                                                                            font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                            font-weight: 700;
                                                                            text-transform: none;
                                                                            color: #96588a;
                                                                        "
                                                    >
                                                        Billing address
                                                    </h2>
                                                    <address class="address">
                                                        test test<br/>
                                                        test<br/>
                                                        test<br/>
                                                        test<br/>
                                                        relst<br/>
                                                        NE4 5LJ<br/>
                                                        <a href="tel:4238941895"
                                                           style="font-weight: normal; text-decoration: underline; color: #0a0404;">4238941895</a><br/>
                                                        tsalkj@gmali.com
                                                    </address>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p style="margin: 0px 0px 16px; text-align: center;">
                                            Congratulations on the sale.</p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Content -->
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- End Body -->
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" id="template_footer_container"
                   width="100%">
                <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="10" cellspacing="0" id="template_footer"
                               width="350">
                            <tbody>
                            <tr>
                                <td id="template_footer_inside"
                                    style="padding: 0px 48px 48px; vertical-align: top;"
                                    valign="top">
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td style="padding: 0;" valign="top">
                                                <table border="0" cellpadding="10" cellspacing="0"
                                                       width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td
                                                                colspan="2"
                                                                id="credit"
                                                                style="
                                                                                    padding: 0;
                                                                                    border: 0;
                                                                                    line-height: 125%;
                                                                                    padding-left: 0px;
                                                                                    padding-right: 0px;
                                                                                    text-align: center;
                                                                                    font-size: 12px;
                                                                                    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                                                                                    font-weight: 400;
                                                                                    color: #555555;
                                                                                    padding-top: 0px;
                                                                                    padding-bottom: 0px;
                                                                                "
                                                                valign="middle"
                                                        >
                                                            <p style="color: #555555;">Pizza
                                                                Time</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
        </td>
    </tr>
    </tbody>
</table>
<!-- End template container -->


<!--<p><strong>Order #1234</strong></p>
<table style="width: 36%; margin-right: calc(64%);">
    <tbody>
    <tr>
        <td style="width: 15.9533%;">
            <div style="text-align: center;"><strong>QTY</strong></div>
        </td>
        <td style="width: 70.5628%;">
            <div style="text-align: center;"><strong>Item</strong></div>
        </td>
        <td style="width: 13.4199%;">
            <div style="text-align: center;"><strong>Price</strong></div>
        </td>
    </tr>
    <tr>
        <td style="width: 15.9533%;">1 X</td>
        <td style="width: 70.5628%;">
                <span
                        style="
                        color: rgb(59, 59, 59);
                        font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                        font-size: medium;
                        font-style: normal;
                        font-variant-ligatures: normal;
                        font-variant-caps: normal;
                        font-weight: 400;
                        letter-spacing: normal;
                        orphans: 2;
                        text-align: center;
                        text-indent: 0px;
                        text-transform: none;
                        white-space: normal;
                        widows: 2;
                        word-spacing: 0px;
                        -webkit-text-stroke-width: 0px;
                        background-color: rgb(255, 255, 255);
                        text-decoration-style: initial;
                        text-decoration-color: initial;
                        display: inline !important;
                        float: none;
                    "
                >
                    &nbsp;Beef Burger&nbsp;
                </span>
            <ul
                    style="
                        color: rgb(59, 59, 59);
                        font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
                        font-style: normal;
                        font-variant-ligatures: normal;
                        font-variant-caps: normal;
                        font-weight: 400;
                        letter-spacing: normal;
                        orphans: 2;
                        text-align: center;
                        text-indent: 0px;
                        text-transform: none;
                        white-space: normal;
                        widows: 2;
                        word-spacing: 0px;
                        -webkit-text-stroke-width: 0px;
                        background-color: rgb(255, 255, 255);
                        text-decoration-style: initial;
                        text-decoration-color: initial;
                        font-size: small;
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                    "
            >
                <li style="margin: 0px; padding: 0px;">
                    <strong style="float: left; margin-right: 0.25em; clear: both;">Size:</strong>
                    <p style="margin: 0px; display: inline;">1/4lb &pound;2.30</p>
                </li>
                <li style="margin: 0px; padding: 0px;">
                    <strong style="float: left; margin-right: 0.25em; clear: both;">Salad Option:</strong>
                    <p style="margin: 0px; display: inline;">Fresh Sala</p>
                </li>
            </ul>
            <br />
        </td>

        <td style="width: 13.4199%;">2.30$</td>
    </tr>
    <tr>
        <td style="width: 15.9533%;">1 X</td>
        <td style="width: 70.5628%;">Cheese Cake</td>
        <td style="width: 13.4199%;">2.00$</td>
    </tr>
    </tbody>
</table>
<table style="width: 36%;">
    <tbody>
    <tr>
        <td style="width: 18%;"><strong>Subtoal:</strong></td>
        <td style="width: 18%;"><div style="text-align: right;">$4.30</div></td>
    </tr>
    <tr>
        <td style="width: 18%;">
            <div data-empty="true" style="text-align: left;"><strong>Shipping:</strong></div>
        </td>
        <td style="width: 18%;"><div style="text-align: right;">Local Pickup</div></td>
    </tr>
    <tr>
        <td style="width: 18%;"><strong>Payment Method:</strong></td>
        <td style="width: 18%;"><div style="text-align: right;">Cash on Delivery</div></td>
    </tr>
    <tr>
        <td style="width: 18%;">
            <div data-empty="true" style="text-align: left;"><strong>Total:</strong></div>
        </td>
        <td style="width: 18%;"><div style="text-align: right;">$4.30</div></td>
    </tr>
    </tbody>
</table>
<p><br /></p>
<p><strong>Billing Address:</strong></p>
<table
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="
        font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
        letter-spacing: normal;
        orphans: 2;
        text-indent: 0px;
        text-transform: none;
        widows: 2;
        word-spacing: 0px;
        -webkit-text-stroke-width: 0px;
        background-color: rgb(255, 255, 255);
        text-decoration-style: initial;
        text-decoration-color: initial;
        border-collapse: collapse;
        width: 254px;
        vertical-align: top;
        margin-bottom: 40px;
        padding: 0px;
    "
>
    <tbody>
    <tr>
        <td style="text-align: left; font-size: 15px; border: 0px; padding: 0px;" valign="top" width="50%">
            <address>
                test test<br />
                test<br />
                test<br />
                test<br />
                relst<br />
                NE4 5LJ<br />
                <a href="tel:4238941895" style="font-weight: normal; text-decoration: underline; color: rgb(10, 4, 4);">4238941895</a><br />
                <a href="mailto:tsalkj@gmali.com">tsalkj@gmali.com</a>
            </address>
        </td>
    </tr>
    </tbody>
</table>
<p><br /></p>-->

